@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
  }
  /**HEADER**/
  #header-nav {
  background-color: #f6b319;

  }
  #logo-img {
      background: url('../images/restaurant-logo_large.png') no-repeat;
      width:150px;
      height:150px;
      margin: 10px 15px 10px 0;
  }
  .navbar-brand {
      padding-top: 25px;
  }
  .navbar-brand h1 {/*restaurant name*/
    font-family: "Lora", serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: .75;

  }
  .navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a {
      text-decoration: none;
  }
  .navbar-brand p {/*Kosher cert*/
    color: #000;
    text-transform: uppercase;
font-size: .7em;
margin-top: 15px;
  }
  .navbar-brand p span {
      vertical-align: middle;
  }

#nav-list {
    margin-top: 10px;
}
#nav-list a {
    color: #951c49;
    text-align:center;
}
#nav-list a:hover {
    background: #e7e7e7;
}
#nav-list a span {
    font-size: 1.8em;
}
#phone {
    margin-top:5px;
}
#phone a {/*Phone number*/
    text-align: right;
    padding-bottom: 0;
    text-decoration: none;

}
#phone div {/*We Deliver*/
    color: #557c3e;
    text-align: right;
    padding-right: 15px;

}

.navbar-light .navbar-toggler  {
    border: 1px solid #61122f;
}
.jumbotron {
        
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;
    margin-bottom: 15px;
}
#menu-tile, #specials-tile, #map-tile {
    height:250px;
    width:100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3f0c1f;
    overflow:hidden;

}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}

    

#menu-tile {
    background:url("../images/menu-tile.jpeg") no-repeat;
    background-position: center;
}
#specials-tile {
    background:url("../images/specials-tile.jpeg") no-repeat;
    background-position: center;
}
#home-tiles span {
    position: absolute;
    bottom: 0;
    right: 0;
    width:100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
}

.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222!important;
}
.panel-footer div.row {
    margin-bottom: 35px;

}
#hours, #address {
    line-height: 2;
}
#hours > span, #address > span {
    font-size: 1.3em;
}
#address p {
    color: #557c3e;
    font-size: .8em;
    line-height: 1.8em;
}
#testimonials {
    font-style: italic;

}
#testimonials p:nth-child(2){
    margin-top: 25px;
}
/**** Menu categories page ****/
.category-tile {
    position:relative;
    border: 2px solid #3f0c1f;
    overflow:hidden;
    width:200px;
    height:200px;
    margin:0 auto 15px;
}
.category-tile span {
    position:absolute;
    bottom: 0;
    right:0;
    width:100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
}
.category-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-categories-title + div {
    margin-bottom: 50px;
    margin-top: 50px;
}
#menu-categories-title {
    
    margin-top: 50px;
}
.active {
    background: #e7e7e7;
}
/**** Menu categories page END ****/

/**** Single category page ****/
.menu-item-tile {
    margin-bottom: 25px;
}
.menu-item-tile hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.menu-item-tile .menu-item-price {
    font-size: 1.1em;
    text-align: right;
    margin-top: -15px;
    margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
    font-size: .6em;
    }
.menu-item-photo {
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
    padding: 0;
    margin-right: -15px;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 250px;
}
.menu-item-photo div {
    position:absolute;
    bottom:0;
    right: 0;
    width: 80px;
    background-color: #557c3e;
    text-align: center;
}
.menu-item-description {
    padding-right: 30px;

}
h3.menu-item-title {
    margin: 0 0 10px;
}
.menu-items-details {
    font-size: .9em;
    font-style: italic;
}

/**** Single category page END****/

/********** Large devices only **********/
@media (min-width: 1200px) {
    .jumbotron {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    #home-tiles {
        max-width:1200px;
        margin-left: auto;
        margin-right: auto;
    }
    #menu-tile, #specials-tile, #map-tile {
        
        max-width:360px;
    }
    
    
    
    
    

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
/* Header */
#logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  #menu-tile, #specials-tile, #map-tile {
        
    max-width:360px;
  /* End Header */
  
}
}

/********** Small devices only **********/
@media  (max-width: 991px) {
.navbar-brand{
padding-top: 10px;
height: 80px;
}
.navbar-brand h1 {/*restaurant name*/
padding-top: 10px;
font-size: 3vw;
}
.navbar-brand p {/*Kosher certified*/
font-size: .6em;
margin-top: 12px;
}
.navbar-brand p img {/*K-star*/
height:20px;
}
#nav-list a {
font-size: 1.2em;
}
#nav-list a span {
font-size: 1em;
margin-right: 5px;
}
#call-btn {
margin-top:20px;
}
#call-btn > a {
font-size: 1.5em;
display: block;
margin: 0 20px;
padding: 10px;
border: 2px solid #fff;
background-color: #f6b319;
color: #951c49;
}
#xs-deliver {
margin-top: 5px;
font-size: .7em;
letter-spacing: .1em;
text-transform: uppercase;
}
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
    #menu-tile, #specials-tile {
        width: 360px;
        margin: 0 auto 15px auto;
    }
  

}

@media (max-width: 479px) {
    #menu-tile, #specials-tile {
        width: 280px;
        margin: 0 auto 15px auto;
    }
    .navbar-brand h1 {
padding-top: 5px;
font-size: 5vw;
    }
  

}
@media (max-width: 575px) {
    .panel-footer section {
        margin-bottom: 30px;
        text-align: center;
    }
  .panel-footer section:nth-child(3){
      margin-bottom: 0;
  }
  .panel-footer section hr {
      width: 50%;
      margin-left: auto;
    margin-right: auto;
  }
  .menu-item-photo {
      margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
      text-align: center;
  }
  .menu-item-description {
      text-align: center;
  }

}